package {{.Table.ModuleName}}Controller

import (
    "{{.Table.PackageName}}{{.Table.ModuleName}}Server"
    "{{.Table.PackageName}}{{.Table.ModuleName}}Server/{{.Table.ModuleName}}ServerImpl"
    "{{.Table.PackageName}}{{.Table.ModuleName}}Models"
    "baize/app/utils/baizeContext"
    "github.com/gin-gonic/gin"
)

type {{.Table.StructName}} struct {
    {{.Table.BusinessName}}Server {{.Table.ModuleName}}Server.I{{.Table.StructName}}Server
}

func New{{.Table.StructName}}(ps *{{.Table.ModuleName}}ServerImpl.I{{.Table.StructName}}Server) *{{.Table.StructName}} {
return &{{.Table.StructName}}{ {{.Table.BusinessName}}Server:{{.Table.BusinessName}}Server }
}

// {{.Table.StructName}}List 查询{{.Table.FunctionName}}列表查询
// @Summary 查询{{.Table.FunctionName}}列表查询
// @Description 查询{{.Table.FunctionName}}列表查询
// @Tags {{.Table.FunctionName}}相关
// @Param  object query {{.Table.ModuleName}}Models.{{.Table.StructName}}DQL true "查询信息"
// @Security BearerAuth
// @Produce application/json
// @Success 200 {object}  response.ResponseData{data=response.ListData{Rows=[]{{.Table.ModuleName}}Models.{{.Table.StructName}}Vo}}  "成功"
// @Router /{{.Table.ModuleName}}/{{.Table.BusinessName}}/list  [get]
func ({{.Table.BusinessName}} *{{.Table.StructName}}) {{.Table.StructName}}List(c *gin.Context) {
    dql := new({{.Table.ModuleName}}Models.{{.Table.StructName}}DQL )
    _ = c.ShouldBind(dql)
    list, count := {{.Table.BusinessName}}.{{.Table.BusinessName}}Server.Select{{.Table.StructName}}List(c, dql)
    baizeContext.SuccessListData(c, list, count)
}

// {{.Table.StructName}}Export 导出{{.Table.FunctionName}}
// @Summary 导出{{.Table.FunctionName}}
// @Description 导出{{.Table.FunctionName}}
// @Tags {{.Table.FunctionName}}相关
// @Param  object query {{.Table.ModuleName}}Models.{{.Table.StructName}}DQL true "查询信息"
// @Security BearerAuth
// @Produce application/octet-stream
// @Success 200 {object} []byte
// @Router /{{.Table.ModuleName}}/{{.Table.BusinessName}}/export [post]
func ({{.Table.BusinessName}} *{{.Table.StructName}}) {{.Table.StructName}}Export(c *gin.Context) {
    dql := new({{.Table.ModuleName}}Models.{{.Table.StructName}}DQL )
    _ = c.ShouldBind(dql)
    data := {{.Table.BusinessName}}.{{.Table.BusinessName}}Server.{{.Table.StructName}}Export(c, dql)
    baizeContext.DataPackageExcel(c, data)
}

// {{.Table.StructName}}GetInfo 根据ID获取{{.Table.FunctionName}}信息
// @Summary 根据ID获取{{.Table.FunctionName}}信息
// @Description 根据ID获取{{.Table.FunctionName}}信息
// @Tags {{.Table.FunctionName}}相关
// @Param {{.IdField}} path string true "{{.IdField}}"
// @Security BearerAuth
// @Produce application/json
// @Success 200 {object}  response.ResponseData{data={{.Table.ModuleName}}.{{.Table.BusinessName}}Vo}  "成功"
// @Router /{{.Table.ModuleName}}/{{.Table.BusinessName}}/{{ "{" }}{{.IdField}}}  [get]
func ({{.Table.BusinessName}} *{{.Table.StructName}}) {{.Table.StructName}}GetInfo(c *gin.Context) {
    {{.IdField}} := baizeContext.ParamInt64(c, "{{.IdField}}")
    if {{.IdField}} == 0 {
        baizeContext.ParameterError(c)
        return
    }
    baizeContext.SuccessData(c, {{.Table.BusinessName}}.{{.Table.BusinessName}}Server.Select{{.Table.StructName}}ById(c, {{.IdField}}))
}

// {{.Table.StructName}}Add 添加{{.Table.FunctionName}}
// @Summary 添加{{.Table.FunctionName}}
// @Description 添加{{.Table.FunctionName}}
// @Tags {{.Table.FunctionName}}相关
// @Param  object body {{.Table.ModuleName}}.{{.Table.BusinessName}}Vo true "公司信息"
// @Security BearerAuth
// @Produce application/json
// @Success 200 {object}  response.ResponseData "成功"
// @Router /{{.Table.ModuleName}}/{{.Table.BusinessName}}  [post]
func ({{.Table.BusinessName}} *{{.Table.StructName}}) {{.Table.StructName}}Add(c *gin.Context) {
    vo := new({{.Table.ModuleName}}.{{.Table.BusinessName}}Vo)
    if err := c.ShouldBindJSON(vo); err != nil {
        baizeContext.ParameterError(c)
        return
    }
    vo.SetCreateBy(baizeContext.GetUserId(c))
    {{.Table.BusinessName}}.{{.Table.BusinessName}}Server.Insert{{.Table.StructName}}(c, vo)
    baizeContext.Success(c)
}

// {{.Table.StructName}}Edit 修改{{.Table.FunctionName}}
// @Summary 修改{{.Table.FunctionName}}
// @Description 修改{{.Table.FunctionName}}
// @Tags {{.Table.FunctionName}}相关
// @Param  object body {{.Table.ModuleName}}.{{.Table.BusinessName}}Vo true "公司信息"
// @Security BearerAuth
// @Produce application/json
// @Success 200 {object}  response.ResponseData "成功"
// @Router /{{.Table.ModuleName}}/{{.Table.BusinessName}}  [put]
func ({{.Table.BusinessName}} *{{.Table.StructName}}) {{.Table.StructName}}Edit(c *gin.Context) {
    vo := new({{.Table.ModuleName}}.{{.Table.BusinessName}}Vo)
    if err := c.ShouldBindJSON(vo); err != nil {
        baizeContext.ParameterError(c)
    return
    }
    vo.SetUpdateBy(baizeContext.GetUserId(c))
    {{.Table.BusinessName}}.{{.Table.BusinessName}}Server.Update{{.Table.StructName}}(c, vo)
    baizeContext.Success(c)
}

// {{.Table.StructName}}Remove 删除{{.Table.FunctionName}}
// @Summary 删除{{.Table.FunctionName}}
// @Description 删除{{.Table.FunctionName}}
// @Tags {{.Table.FunctionName}}相关
// @Param {{.IdField}} path []string true "{{.IdField}}"
// @Security BearerAuth
// @Produce application/json
// @Success 200 {object}  response.ResponseData "成功"
// @Router /{{.Table.ModuleName}}/{{.Table.BusinessName}}/{{ "{" }}{{.IdField}}s}  [delete]
func ({{.Table.BusinessName}} *{{.Table.StructName}}) {{.Table.StructName}}Remove(c *gin.Context) {
    {{.Table.BusinessName}}.{{.Table.BusinessName}}Server.Delete{{.Table.StructName}}ByIds(c, baizeContext.ParamInt64Array(c, "{{.IdField}}s"))
    baizeContext.Success(c)
}
